<div class="container">
  <h1>Your booking</h1>
</div>

<div class ="container mt-5">
  <div class="booking-info">
    <div class="booking-contents">
      <ul>
        <li>Person in charge: <%= @booking.user.nickname %></li>
        <li>Booked time: <%= @booking.start_time %></li>
        <li>Total price: <%= @booking.total_price %> dollars</li>
        <li>Neighborhood: <%= @booking.dogwalk.neighborhood %></li>
        <li>Status: <%= @booking.status %></li>
      </ul>
    </div>
  </div>
</div>
