<div class="container p-5">
  <h2>Welcome,<small class="text-body-secondary">
    Choose your Dogwalker</small></h1>

    <!-- TODO: Insert inside the `.container`, above the first `.row` -->
    <div class="row justify-content-center">
      <div class="col-sm-8 my-3">
        <%= form_with url: dogwalks_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "enter region, keyword, price, or favee woofywalker"
            %>
          <%= submit_tag "Fetch", name: "", class: "btn btn-info" %>
        <% end %>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 py-5">
      <% @dogwalks.each do |dogwalk| %>
        <div class="col">
            <div class="card text-center">
              <%= image_tag('doggie.jpg') %>
              <div class="card-body">
                <h5 class="card-title"> Dogwalker <%= link_to dogwalk.user.nickname, dogwalk_path(dogwalk.id), class:"text-decoration-none" %></h5>
                <p class="card-text"> location: <%=dogwalk.neighborhood%></p>
              </div>
            </div>
        </div>
      <% end %>
    </div>

</div>



<%# dogwalker details
create_table "dogwalks", force: :cascade do |t|
    t.text "service_details"
    t.integer "dog_capacity"
    t.string "neighborhood"
    t.float "duration"
    t.float "hourly_rate"
    t.bigint "user_id", null: false
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.index ["user_id"], name: "index_dogwalks_on_user_id" %>
