<div class="container">
  <div class="description mt-5">
    <h1>Welcome, choose your Dogwalker!</h1>
  </div>

    <!-- TODO: Insert inside the `.container`, above the first `.row` -->
    <div class="row justify-content-center">
      <div class="col-sm-8 my-3">
        <%= form_with url: dogwalks_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "enter region, keyword, price, or favee woofywalker"
            %>
          <%= submit_tag "Fetch", name: "", class: "btn btn-info" %>
        <% end %>
      </div>
    </div>


  <div class="home-grid mt-5 d-flex flex-wrap">
    <% @dogwalks.each do |dogwalk| %>
      <a href="<%= dogwalk_path(dogwalk.id) %>" class="clickable-card">
        <div class="dogwalk-card card mb-3 mr-3" style="width: 18rem;">
        <% if dogwalk.photo.attached? %>
          <%= cl_image_tag dogwalk.photo.key, height: 300, width: 400, crop: :fill %>
          <% else %>
          <%= image_tag('doggie.jpg', class: "card-img-top") %>
          <% end %>
          <div class="card-body">
            <h3 class="card-title"><%= dogwalk.user.nickname %></h3>
            <div class="card-text">
              <!-- will need to have code to retrieve dogwalker pic -->
              <p><strong>Area:</strong> <%= dogwalk.neighborhood %></p>
              <p><strong>Price per dog: ¥</strong><%= dogwalk.price_per_dog.to_i %></p>

            </div>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>
