<div class="container">
  <div class="card-product">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCmfEqVq3BwZ_yyAbsXZ6UiTpASJMvrzEj_g&usqp=CAU" />
    <div class="card-product-infos">
      <h2><%= @dogwalk.user.nickname %>'s Dogwalking Services</h2>
      <h5 class="mb-1"><i class="fa-solid fa-location-dot"></i> <%= @dogwalk.neighborhood %></h5>
      <h6 class="mb-3"><i class="fa-solid fa-money-bill"></i> $<%= @dogwalk.hourly_rate %> per hour</h6>
      <p><strong><%= @dogwalk.user.nickname %></strong>'s services can be best described as: "<%= @dogwalk.service_details %>"</p>
    </div>
  </div>
  <%= link_to "FETCH MORE WOOFYWALKS", dogwalks_path, class: "btn btn-ghost mt-4" %>
  <%# <%= link_to "FETCH MORE WOOFYWALKS", dogwalks_path %>
  <%# <%= link_to "Know more about us", about_path %>
</div>
