<!DOCTYPE html>
<html>
  <head>
    <title>Walkywoofs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/assets/application.js", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>

  <!-- NAVBAR -->

  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">
      <%#<%= link_to root_path, class: "navbar-brand" do %>
        <%# <img src="/assets/icon.jpg"> %>
      <%#<% end %>
      <%= link_to root_path, class: "navbar-brand" do %>
        <img src="<%= image_path('icon.jpg') %>" alt="Doggie Logo">
      <% end %>
      <!-- <a class="navbar-brand" href="#">
        <img src="app/assets/images/doggie.jpg">
      </a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
            <li class="nav-item active">
              <!-- <a class="nav-link" href="<%= root_path %>">Home</a> -->
            </li>
            <li class="nav-links-container">
              <a class="nav-link" href="/dogwalks/new">Create A Service</a>
              <a class="nav-link" href="/bookings">My Bookings</a>
              <a class="nav-link" href="/users/sign_in">Login/Sign-Up</a>
            </li>
      <!-- <li class="nav-item dropdown">
              <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
              </div>
            </li>  -->
            <!--li class="nav-item"-->
            <!--/li-->
        </ul>
      </div>
    </div>
  </div>

  <!-- BANNER -->
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('dogwalking.jpg') %> "> <!-- url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);-->
    <div class="container">
      <h1>WALKYWOOFS <i class="fa-solid fa-paw"></i></h1>
      <p>Exploring the World, One Paw at a Time</p>
      <!-- <a class="btn btn-flat" href="#">Apply now</a> -->
      <p><%= link_to "FETCH MORE WOOFYWALKS", dogwalks_path, class: "btn btn-ghost-banner mt-4" %></p>
    </div>
  </div>

  <!-- page contents -->

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

  <!-- FOOTER -->

  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="footer-copyright">
      Follow Walkywoofs! <i class="fa-solid fa-paw"></i>
    </div>
  </div>


  </body>
</html>
